body{
    background-color:azure;
}
h1{
    font-family: vesterbroextrabold,Arial,sans-serif;
    color: #025157;
    font-size: 50px;
    text-align: center;
}

.banner{
    display: flex;
    justify-content: center;
}


/*Barra de navegación*/
header {
    margin: 45px 20px 20px;
    font-family: sans-serif; 
}
header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}
.logo > img {
    height: 100%;
}

.navbar {
    width: 70%;
    text-align: center;
}

li{
    display: inline;
}

.nav-enlace{
    display: inline;
    margin: 25px 25px;
    text-decoration: none;
    color: #025157;
}

.options{
    width: 15%;
    text-align: right;
}

.options> * {
    margin:10px 10px;
    font-size: 14px;
}

.options{
    display: inline;
}

.registro{
    color: #025157;
    font-weight: 700;
}

button{
    color: #fff;
    background-color:#67b54b;
    font-weight: 600;
    padding: 14px 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    border: none;
}

button:hover{
    background-color: #025157;
}



/*Publicidad 2*/
.container-promo{
    display: flex;
   
}
.explanatory-video{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.explanatory-video img {
    width: 120px;
    margin-top: 10px;
}

.publicidad > h3 {
    font-family: vesterbroextrabold,Arial,sans-serif;
    color: #025157;
    font-size: 30px;
    line-height: 48px;
  
}

.publicidad > p {
    color: #343434;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.container-form-registro > form {
    display: flex;
}

.container-form-registro > form p {
    color: #025157;
    margin-right: 18px;
}
input{
    text-decoration: none;
    padding: 10px 10px 12px 12px;
    outline: none;
}
.btn{
    background-color: #67b54b;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 14px 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    outline: none;
}




/*Ejercicio 3 Cards*/
.grid-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr); 
    padding: 20px;
}
 
article{
    width: 95%;
    height: 290px;
    margin: 10px;
}
  
img{
   max-width: 100%;
}



/*Media queries*/
@media (max-width: 575px) {
    body {
      background-color: aliceblue;
    }

    .navbar,
    .options {
      display: none;
    }

    h1 {
        color: #c54a03;
        font-size: 30px;
        margin-bottom: 50px;
    }

    .banner > img {
        width: 100%;
    }

    .container-promo {
        flex-direction: column;
    }

    .container-video{
        width: 100%;
        margin:10px 10px;
    }
    .publicidad {
        margin-top: 10px;
        text-align: center;
    }
      
    .publicidad > h3 {
        font-size: 25px;
        line-height: 1.2;
    }
    
    .container-form-registro > form{
        flex-direction: column;
    }
  
    .container-form-registro > form > div{
        height: 50px;
        margin-top: 10px;
    }
  
    .container-form-registro > form > div > input{
        width: 65%;
        outline: none;
    }

    .grid-container {
        grid-template: repeat(4, 1fr) / 1fr;
        margin-top:10px;
        padding-left: 0;
        padding-right: 0;
    }
    
  }

